body{
          background-color:red;
          color: black;
          pointer:cursor;
          font-style:italic;
          border: 1px solid yellowgreen;
          display: inline-block;
    }
h1{
    color: red;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}
